
  <tr>
    <td>

      <% @categories.each do |category| %> 
         <li><%= category.name %></li>
    
  </td>
  <% end %>

  <td>
     <%= link_to '+ New Categories', [:new, :admin, :category], class: 'btn btn-info' %>
  </td>
</tr>